# ===== System Files =====
.DS_Store
Thumbs.db

# ===== Environment Files =====
.env
.env.*

# Ignore session files
*.session
*.session-journal


bot.session
bot.session-journal
my_bot.session
my_bot.session-journal